@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2{
    margin: 20px 0;
}
h1{
    margin-left: 20px;
}
div{
    padding: 20px;
}
.c1{
    background: rgb(178, 233, 255);
}
.c2{
    background: rgb(193, 255, 193);
}
.c3{
    background: rgb(252, 193, 202);
}

/* mostly fluid */
@media screen and (min-width:768px){
    .mf .c2, .mf .c3{
        float: left;
        width: 50%;
    }
}

/* column drop */
@media screen and (min-width: 768px){
    .cd .c1, .cd .c2{
        float: left;
        width: 50%;
    }
    .cd .c3{
        clear: both;
    }
}

@media screen and (min-width: 1024px) {
    .cd .c1, .cd .c2, .cd .c3{
        width: 33.333%;
    }  
    .cd .c3{
        clear: none;
        float: left;
    }
}

/* Layout shifter */
.wrap{
    padding: 0;
}
@media screen and (min-width:768px){
    .ls .c1, .wrap{
        float: left;
    }
    .ls .c1{
        width: 30%;
    }
    .wrap{
        width: 70%;
    }
}